.slidex3000__container {
  overflow: hidden;
  position: relative;
}

.slidex3000__slider {
  font-size: 0;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  position: relative;
  left: -100%;
}

.slidex3000__item {
  white-space: normal;
  display: inline-block;
  /*height: 250px;*/
  width: 100%;
}

.slidex3000__item > img {
  /*height: 250px;*/
  width: 100%;
  object-fit: cover;
}

.slidex3000__back,
.slidex3000__fore {
  background-color: transparent;
  border: 0;
  height: 76px;
  width: 76px;
  position: absolute;
  top: calc(50% - 38px);
}

.slidex3000__back:focus,
.slidex3000__fore:focus {
  outline: none;
}

.slidex3000__back:hover,
.slidex3000__fore:hover {
  background-color: rgba(0, 0, 0, .25);
}

.slidex3000__back::before,
.slidex3000__back::after,
.slidex3000__fore::before,
.slidex3000__fore::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  width: 26px;
  position: absolute;
  left: calc(50% - 14px);
}

.slidex3000__back::before,
.slidex3000__fore::before {
  margin-top: 8px;
  transform: rotate(45deg);
}

.slidex3000__back::after,
.slidex3000__fore::after {
  margin-top: -9px;
  transform: rotate(-45deg);
}

.slidex3000__fore {
  right: 0;
  transform: rotate(180deg);
}

.slidex3000__controls {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.slidex3000__control {
  display: inline-block;
}

.slidex3000__control:not(:last-child) {
  margin-right: 14px;
}

.slidex3000__dot {
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}

.slidex3000__dot:hover {
  background-color: rgba(255, 255, 255, .5);
}

.slidex3000__dot:focus {
  outline: none;
}

.slidex3000__dot--active {
  background-color: #fff;
  border-color: transparent;
}

.slidex3000__dot--active {
  border-color: #fff;
  background-color: #fff;
}
